.partida-article {
    width: 30%; /* Ajusta el ancho según sea necesario */
    height: 100px; /* Ajusta la altura según sea necesario */
    background-color: lightgray;
    border: 1px solid darkgray;
    margin: 5px; /* Agrega un margen para separar los cuadraditos */
    padding: 10px; /* Agrega un espacio interno dentro del cuadro */
    display: inline-block; /* Permite que los cuadraditos estén uno al lado del otro */
    box-sizing: border-box; /* Considera el borde y el relleno como parte del ancho y alto */
    border-radius: 5px;
  }

  .user-article {
    width: 50%; /* Ajusta el ancho según sea necesario */
    background-color: lightgray;
    border: 1px solid darkgray;
    margin: 5px; /* Agrega un margen para separar los cuadraditos */
    padding: 10px; /* Agrega un espacio interno dentro del cuadro */
    display: inline-block; /* Permite que los cuadraditos estén uno al lado del otro */
    box-sizing: border-box; /* Considera el borde y el relleno como parte del ancho y alto */
    border-radius: 5px;
  }